/* bulma  */
@import '~bulma/css/bulma.min.css';
@import 'react-toastify/dist/ReactToastify.css';
.navbar, .navbar-end, .navbar-menu, .navbar-start {
  align-items: stretch;
  display: flex;
  background-color: #ffe08a;
  color: rgba(0,0,0,.7);
  box-shadow: 0 8px 16px rgb(10 10 10 / 0%);
  justify-content: space-between;
}
.navbar-item{
  display: flex;
  align-items: center;
}
/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
